.ace_editor {
	position: relative;
	overflow: hidden;
	font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas',
		'source-code-pro', monospace;
	font-family: monospace !important;
	direction: ltr;
	border-radius: 10px;
}

#editor * {
	font-family: monospace !important;
	font-size: 16px !important;
	direction: ltr !important;
	text-align: left !important;
}

#editor {
	margin-bottom: 10px;
}

.editor-outer {
	padding: 15px;
}

.editor-inner {
	padding: 15px;
	border-radius: 11px;
	background: #ebf5fc;
	box-shadow: -2px -2px 5px white, 3px 3px 5px rgb(0 0 0/ 10%);
}

.result-outer {
	padding: 0.5em 1em;
	margin: 1em 0;
	color: #2c2c2f;
	background: #cde4ff;
}

.editor-button {
	border: none;
	margin-right: 5px;
	padding: 5px;
	font-weight: bold;
	color: #6a9bd8;
}

.editor-button:hover{
	opacity:0.5;
}

