@charset "UTF-8";

/*Body Neumorphism*/
body {
	background-color: #ebf5fc;
}

body, p, input, select, textarea, button {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.2px;
	letter-spacing: 0.06em;
	line-height: 1.8;
}

.page-title {
	color: #BABECC;
	text-shadow: 1px 1px 1px #fff;
}

.segment {
	padding: 20px 0;
	text-align: center;
}
/*---------- Header ----------*/
header {
	padding: 25px 4% 10px;
	width: 100%;
	display: flex;
	align-items: center;
}

header ul {
	margin: 0;
	display: flex;
}

header li {
	margin: 0 0 0 15px;
}

header nav {
	margin: 0 0 0 auto;
}

header a {
	color: #31344b;
}

.myPage-icon{
	    font-size: 30px;
    color: #6a9bd8;

    width: 60px;
    height: 60px;
    background: #ebf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 5px white, 3px 3px 5px rgb(0 0 0 / 10%);
    border-radius: 10px;
}
/*---------- Video & Editor Area ----------*/
.contents {

}

.handle {
	position: absolute;
	left: -4px;
	top: 0;
	bottom: 0;
	width: 8px;
	cursor: w-resize;

    background-color: white;
}

/*---------- Editor Area ----------*/
.editor-area {

	width: 100%;
	position: absolute;
	right: 0;

    top: 15%;
	bottom: 0;
	width: 50%;
}
/*---------- Lecture Video Area ----------*/
.lecture-video-area {
	position: absolute;
	left: 0;

    top: 15%;
	bottom: 0;
	right: 50%;
}

.lecture-video {
clip-path: inset(1px round 5px)
}

.video-outer {
    padding: 15px;

}
.video-inner {
    padding: 15px;
    border-radius: 11px;
    background: #ebf5fc;
    box-shadow: -2px -2px 5px white, 3px 3px 5px rgb(0 0 0 / 10%);
}
/*---------- Content-Cards ----------*/
.flex-card {
	display: flex; /* フレックスボックスにする */
	justify-content: center;
}

.card {
	margin: 30px;
	width: 400px;
	padding: 30px;
	flex-direction: column;
	background: #f1f3f6;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 9px 9px 16px rgb(163 177 198/ 60%), -9px -9px 16px
		rgb(255 255 255/ 50%);
}

}
.card-img {
	border-radius: 5px 5px 0 0;
	max-width: 100%;
	height: auto;
}

.card-content {
	padding: 20px;
}

.card-title {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #333;
}

.card-text {
	color: #333;
	font-size: 14px;
}

.card-link {
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
}

.card-img {
	text-align: center;
}

.card-img img {
	width: 100px;
}

.card-link a {
	margin: 0 auto;
	background: #9dabc0;
	color: #fff;
	padding: 10px 63px;
	border-radius: 25px;
	font-weight: 600;
	box-shadow: 0px 10px 15px rgb(55 84 170/ 25%);
}

.card-link a:hover {
	box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.card-link a:active {
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.card-link a:focus {
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

/*---------- Form ----------*/
.login-form {
	margin: 0 auto;
	width: 35%;
	text-align: center;
}

.form-button, input {
	border: 0;
	outline: 0;
	font-size: 16px;
	border-radius: 320px;
	padding: 16px;
	background-color: #EBECF0;
	text-shadow: 1px 1px 0 #FFF;
}

label {
	display: block;
	margin-bottom: 24px;
}

input {
	margin-right: 8px;
	box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	appearance: none;
	-webkit-appearance: none;
}

input:focus {
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.form-button {
	color: #AE1100;
	font-weight: bold;
	box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	font-weight: 600;
	width: 50%;

}

.form-button:hover {
	box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.form-button:active {
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

/*---------- Footer ----------*/
footer {
	padding: 30px 4% 10px;
	width: 100%;
	display: flex;
	align-items: center;
}

.footerInner {
	width: 100%;
	text-align: center;
}